<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/desh.css' %}">
</head>
<body>
    <header>
        <div class="header-left">
            <h1>FuaaRI</h1>
        </div>
        <nav>
            <ul>
                Welcome, {{ user.username }}!
                <a href={% url 'product_list' %}>Products</a>
                <a href="{% url 'store' %}">Store</a>
                <a href="{% url 'order_list' %}" >Order List</a>
                <a href="{% url 'signout' %}">Log Out</a>
            </ul>
        </nav>
    </header>
    <div style="position: relative; height: 100px;"> 
        <a href="{% url 'create_product' user.seller.id %}" class="create-product">Create Product</a>
        
    </div>
    
    <ul>
        {% for a in products %}
            {% if a.seller_id.id == user.seller.id %}
                <li>
                    <img src="{{ a.images.url }}" width="200"><br>
                    {{ a.name }}<br>
                    {{ a.description }}<br>
                    {{a.price}}<br>
                    <a href="{% url 'edit_product' a.id %}">Update</a>
                    <a href="{% url 'delete_product' a.id %}">Delete</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <footer>
        <p>&copy; 2024 D&M IT</p>
    </footer>
</body>
</html>
